<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ImportInternServlet</servlet-name>
        <servlet-class>controller.ImportInternServlet</servlet-class>
        <multipart-config>
            <location>C:/temp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>InternListServlet</servlet-name>
        <servlet-class>controller.InternListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectInternServlet</servlet-name>
        <servlet-class>controller.SelectInternServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addmentor</servlet-name>
        <servlet-class>controller.Addmentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorManageController</servlet-name>
        <servlet-class>controller.MentorManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerManageController</servlet-name>
        <servlet-class>controller.ManagerManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddManager</servlet-name>
        <servlet-class>controller.AddManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLabRoomsServlet</servlet-name>
        <servlet-class>controller.ListLabRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMentorsServlet</servlet-name>
        <servlet-class>controller.GetMentorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorReportList</servlet-name>
        <servlet-class>controller.MentorReportList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorReportServlet</servlet-name>
        <servlet-class>controller.MentorReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>controller.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionServlet</servlet-name>
        <servlet-class>controller.MissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMissionServlet</servlet-name>
        <servlet-class>controller.AddMissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportInternServlet</servlet-name>
        <url-pattern>/importIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternListServlet</servlet-name>
        <url-pattern>/internList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectInternServlet</servlet-name>
        <url-pattern>/selectIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addmentor</servlet-name>
        <url-pattern>/Addmentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorManageController</servlet-name>
        <url-pattern>/MentorManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerManageController</servlet-name>
        <url-pattern>/ManagerManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddManager</servlet-name>
        <url-pattern>/AddManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLabRoomsServlet</servlet-name>
        <url-pattern>/ListLabRoomsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMentorsServlet</servlet-name>
        <url-pattern>/GetMentorsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorReportList</servlet-name>
        <url-pattern>/mentorreportlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorReportServlet</servlet-name>
        <url-pattern>/mentorreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionServlet</servlet-name>
        <url-pattern>/mission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMissionServlet</servlet-name>
        <url-pattern>/AddMissionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
