<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ImportInternServlet</servlet-name>
        <servlet-class>controller.intern.ImportInternServlet</servlet-class>
        <multipart-config>
            <location>C:/temp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>InternListServlet</servlet-name>
        <servlet-class>controller.intern.InternListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.loginandlogout.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectInternServlet</servlet-name>
        <servlet-class>controller.intern.SelectInternServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addmentor</servlet-name>
        <servlet-class>controller.account.Addmentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorManageController</servlet-name>
        <servlet-class>controller.account.MentorManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerManageController</servlet-name>
        <servlet-class>controller.account.ManagerManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddManager</servlet-name>
        <servlet-class>controller.account.AddManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLabRoomsServlet</servlet-name>
        <servlet-class>controller.labroom.ListLabRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMentorsServlet</servlet-name>
        <servlet-class>controller.labroom.GetMentorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorReportList</servlet-name>
        <servlet-class>controller.report.MentorReportList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorReportServlet</servlet-name>
        <servlet-class>controller.report.MentorReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>controller.report.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionServlet</servlet-name>
        <servlet-class>controller.mission.MissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMissionServlet</servlet-name>
        <servlet-class>controller.mission.AddMissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMissionServlet</servlet-name>
        <servlet-class>controller.mission.DeleteMissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMissionServlet</servlet-name>
        <servlet-class>controller.mission.UpdateMissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownFileMisson</servlet-name>
        <servlet-class>controller.mission.DownFileMisson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInternServlet</servlet-name>
        <servlet-class>controller.mission.GetInternServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitMission</servlet-name>
        <servlet-class>controller.mission.SubmitMission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownFileMisson1</servlet-name>
        <servlet-class>controller.mission.DownFileMisson1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.feedback.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedback</servlet-name>
        <servlet-class>controller.feedback.SubmitFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <servlet-class>controller.feedback.EditFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <servlet-class>controller.feedback.ViewFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QandAServlet</servlet-name>
        <servlet-class>controller.qanda.QandAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionServlet</servlet-name>
        <servlet-class>controller.qanda.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <servlet-class>controller.qanda.UpdateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-class>controller.qanda.DeleteQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendAnswer</servlet-name>
        <servlet-class>controller.qanda.SendAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>controller.qanda.Message</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportInternServlet</servlet-name>
        <url-pattern>/importIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternListServlet</servlet-name>
        <url-pattern>/internList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectInternServlet</servlet-name>
        <url-pattern>/selectIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addmentor</servlet-name>
        <url-pattern>/Addmentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorManageController</servlet-name>
        <url-pattern>/MentorManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerManageController</servlet-name>
        <url-pattern>/ManagerManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddManager</servlet-name>
        <url-pattern>/AddManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLabRoomsServlet</servlet-name>
        <url-pattern>/ListLabRoomsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMentorsServlet</servlet-name>
        <url-pattern>/GetMentorsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorReportList</servlet-name>
        <url-pattern>/mentorreportlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorReportServlet</servlet-name>
        <url-pattern>/mentorreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionServlet</servlet-name>
        <url-pattern>/mission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMissionServlet</servlet-name>
        <url-pattern>/AddMissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMissionServlet</servlet-name>
        <url-pattern>/DeleteMissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMissionServlet</servlet-name>
        <url-pattern>/UpdateMissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownFileMisson</servlet-name>
        <url-pattern>/DownFileMisson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInternServlet</servlet-name>
        <url-pattern>/GetInternServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitMission</servlet-name>
        <url-pattern>/SubmitMission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownFileMisson1</servlet-name>
        <url-pattern>/DownFileMisson1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedback</servlet-name>
        <url-pattern>/SubmitFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <url-pattern>/EditFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <url-pattern>/ViewFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QandAServlet</servlet-name>
        <url-pattern>/QandAServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionServlet</servlet-name>
        <url-pattern>/AddQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionServlet</servlet-name>
        <url-pattern>/UpdateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestion</servlet-name>
        <url-pattern>/DeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendAnswer</servlet-name>
        <url-pattern>/SendAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
