<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ImportInternServlet</servlet-name>
        <servlet-class>controller.intern.ImportInternServlet</servlet-class>
        <multipart-config>
            <location>C:/temp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>InternListServlet</servlet-name>
        <servlet-class>controller.intern.InternListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.loginandlogout.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectInternServlet</servlet-name>
        <servlet-class>controller.intern.SelectInternServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addmentor</servlet-name>
        <servlet-class>controller.account.Addmentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorManageController</servlet-name>
        <servlet-class>controller.account.MentorManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerManageController</servlet-name>
        <servlet-class>controller.account.ManagerManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddManager</servlet-name>
        <servlet-class>controller.account.AddManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLabRoomsServlet</servlet-name>
        <servlet-class>controller.labroom.ListLabRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMentorsServlet</servlet-name>
        <servlet-class>controller.labroom.GetMentorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorReportList</servlet-name>
        <servlet-class>controller.report.MentorReportList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorReportServlet</servlet-name>
        <servlet-class>controller.report.MentorReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>controller.report.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionServlet</servlet-name>
        <servlet-class>controller.mission.MissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMissionServlet</servlet-name>
        <servlet-class>controller.mission.AddMissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInTime</servlet-name>
        <servlet-class>controller.attendance.CheckInTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceHistoryServlet</servlet-name>
        <servlet-class>controller.attendance.AttendanceHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAttendanceStatusSerlvet</servlet-name>
        <servlet-class>controller.attendance.EditAttendanceStatusSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAttendanceServlet</servlet-name>
        <servlet-class>controller.attendance.LoadAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InternAttendanceHistoryServlet</servlet-name>
        <servlet-class>controller.attendance.InternAttendanceHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLabRoomServlet</servlet-name>
        <servlet-class>controller.labroom.DeleteLabRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLabRoomServlet</servlet-name>
        <servlet-class>controller.labroom.UpdateLabRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInternListServlet</servlet-name>
        <servlet-class>controller.labroom.ViewInternListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMentorController</servlet-name>
        <servlet-class>controller.DeleteMentorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteManagerController</servlet-name>
        <servlet-class>controller.DeleteManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUserController</servlet-name>
        <servlet-class>controller.BlockUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMentorProfileByHR</servlet-name>
        <servlet-class>controller.EditMentorProfileByHR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditManagerProfileByHR</servlet-name>
        <servlet-class>controller.EditManagerProfileByHR</servlet-class>
    </servlet>
    <servlet>   
        <servlet-name>DeleteMissionServlet</servlet-name>
        <servlet-class>controller.mission.DeleteMissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMissionServlet</servlet-name>
        <servlet-class>controller.mission.UpdateMissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownFileMisson</servlet-name>
        <servlet-class>controller.mission.DownFileMisson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInternServlet</servlet-name>
        <servlet-class>controller.mission.GetInternServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportInternServlet</servlet-name>
        <url-pattern>/importIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternListServlet</servlet-name>
        <url-pattern>/internList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectInternServlet</servlet-name>
        <url-pattern>/selectIntern</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addmentor</servlet-name>
        <url-pattern>/Addmentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorManageController</servlet-name>
        <url-pattern>/MentorManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerManageController</servlet-name>
        <url-pattern>/ManagerManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddManager</servlet-name>
        <url-pattern>/AddManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLabRoomsServlet</servlet-name>
        <url-pattern>/ListLabRoomsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMentorsServlet</servlet-name>
        <url-pattern>/GetMentorsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorReportList</servlet-name>
        <url-pattern>/mentorreportlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorReportServlet</servlet-name>
        <url-pattern>/mentorreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionServlet</servlet-name>
        <url-pattern>/mission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMissionServlet</servlet-name>
        <url-pattern>/AddMissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInTime</servlet-name>
        <url-pattern>/checkInTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceHistoryServlet</servlet-name>
        <url-pattern>/attendanceHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAttendanceStatusSerlvet</servlet-name>
        <url-pattern>/editAttendanceStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAttendanceServlet</servlet-name>
        <url-pattern>/loadAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternAttendanceHistoryServlet</servlet-name>
        <url-pattern>/internAttendanceHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLabRoomServlet</servlet-name>
        <url-pattern>/DeleteLabRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLabRoomServlet</servlet-name>
        <url-pattern>/UpdateLabRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInternListServlet</servlet-name>
        <url-pattern>/ViewInternListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMentorController</servlet-name>
        <url-pattern>/DeleteMentorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteManagerController</servlet-name>
        <url-pattern>/DeleteManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUserController</servlet-name>
        <url-pattern>/BlockUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMentorProfileByHR</servlet-name>
        <url-pattern>/EditMentorProfileByHR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditManagerProfileByHR</servlet-name>
        <url-pattern>/EditManagerProfileByHR</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>   
        <servlet-name>DeleteMissionServlet</servlet-name>
        <url-pattern>/DeleteMissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMissionServlet</servlet-name>
        <url-pattern>/UpdateMissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownFileMisson</servlet-name>
        <url-pattern>/DownFileMisson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInternServlet</servlet-name>
        <url-pattern>/GetInternServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <filter>
        <filter-name>SessionCheckFilter</filter-name>
        <filter-class>filter.SessionCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionCheckFilter</filter-name>
        <url-pattern>/Home.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>service.SessionTimeoutListener</listener-class>
    </listener>
</web-app>
